.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #29233f;
}

.nav-links{
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.router-logo-link{
  text-decoration: none;
}

.router-logo{
  color: white;
  font-size: x-large; 
}

.nav-link{
  text-decoration: none;
}

.router-link{
  border: black;
  color: white;
  font-weight: bold;
  font-size: large;
}

.router-link-logg-inn{
  color: #512c4d;
  font-weight: bold;
  font-size: large;
  background-color: white;
  padding: 5px 20px 8px 20px;
  border-radius: 25px;
}


